In [1]:
import pandas as pd
from matplotlib.pyplot import *

In [2]:
from azure.cosmosdb.table.tableservice import TableService
from azure.cosmosdb.table.models import Entity

In [3]:
from azure_table_interface import *

In [6]:
res = query_aq_data('aq-deployment_nesta-2',
                    from_date='2018-06-01',
                    to_date='2019-03-30', cols=['pm10', 'pm25'])

ValueError: No results returned

In [4]:
res = query_aq_data(cols=['pm10', 'pm25'], max_rows=10)

In [5]:
res

                                 sensor_id  pm10  pm25
timestamp
2019-05-22 13:00:15  aq-deployment_nesta-7   8.0   6.0
2019-05-22 13:00:15   aq-deployment_aurn-2   7.0   6.0
2019-05-22 13:00:16   aq-deployment_aurn-1   6.0   5.0
2019-05-22 13:00:16  aq-deployment_nesta-6   8.0   7.0
2019-05-22 13:03:09    schools-aqn_sch3abp   NaN   NaN
2019-05-22 13:06:08    schools-aqn_sch6abp   NaN   NaN
2019-05-22 13:07:08    schools-aqn_sch7abp   NaN   NaN
2019-05-22 13:15:08  aq-deployment_nesta-1   6.0   6.0
2019-05-22 13:15:10  aq-deployment_nesta-4   6.0   6.0
2019-05-22 13:15:12  aq-deployment_nesta-7   8.0   6.0

In [ ]:
hourly = res.resample('1H').mean()

In [ ]:
hourly.index

In [ ]:
hourly.index.values[:5]

In [ ]:
res.index.values[:5]

In [ ]:
ax = hourly.plot()
res.plot(ax=ax)

In [ ]:
res.columns

In [ ]:
columns = list(res.columns)

In [ ]:
columns.remove('RowKey')

In [ ]:
columns

In [ ]:
res.rename(columns={'RowKey':'sensor_id'})

In [ ]:
res.pm25 = res.pm25.astype(float)

In [ ]:
%matplotlib inline

In [ ]:
res.plot()

In [ ]:
a = [1, 2, 3]

In [ ]:
a.insert(0, 0)

In [ ]:
a

In [ ]:
table_service = TableService(connection_string=CONNECTION_STRING)

In [ ]:
table_service.get_entity('PublicData', partition_key="1558530015398", row_key='aq-deployment_nesta-7')

In [ ]:
results = table_service.query_entities('PublicData',
                                       filter="RowKey eq 'aq-deployment_nesta-7' and PartitionKey gt '1558530015398' and PartitionKey lt '1558560612372'",
                                       select='PartitionKey,RowKey,pm10,pm25',
                                       num_results=10)

In [ ]:
df = pd.DataFrame(results)

In [ ]:
partitionkey_to_datetime(df.PartitionKey)

In [ ]:
datetime_to_partitionkey(datetime(2019, 5, 22, 13, 15, 12))

In [ ]:
dt = partitionkey_to_datetime(df.PartitionKey)[0]

In [ ]:
dt = dt.to_pydatetime()

In [ ]:
dt.timestamp()

In [ ]:
partitionkey_to_datetime(str(dt.timestamp()*1000))

In [ ]:
df.PartitionKey

In [ ]:
dt = partitionkey_to_datetime("1558530912371")

In [ ]:
dt

In [ ]:
timestamp = (dt - datetime(1970, 1, 1)).total_seconds()

In [ ]:
timestamp*1000

In [ ]:
partitionkey_to_datetime("1558527312000")

In [ ]:
df.PartitionKey

In [ ]:
from datetime import datetime

In [ ]:
datetime.utcfromtimestamp(1558530912371 / 1000)

In [ ]:
import pydocumentdb
import pydocumentdb.document_client as document_client

In [ ]:
client = document_client.DocumentClient(url_connection=CONNECTION_STRING, auth={'masterKey': SAS_TOKEN})

In [ ]:
results = client.QueryDocuments('PublicData', query = { 'query': 'SELECT * FROM server s' } )

In [ ]:
list(results)