In [1]:
import pandas as pd

In [2]:
from azure.cosmosdb.table.tableservice import TableService
from azure.cosmosdb.table.models import Entity

In [3]:
from azure_table_interface import *

In [4]:
query_aq_data('aq-deployment_nesta-7', cols=['pm10', 'pm25'], max_rows=10)

RowKey eq 'aq-deployment_nesta-7'

                                    RowKey pm10 pm25
PartitionKey
2019-05-22 13:00:15  aq-deployment_nesta-7    8    6
2019-05-22 13:15:12  aq-deployment_nesta-7    8    6
2019-05-22 14:45:14  aq-deployment_nesta-7    7    6
2019-05-22 18:00:14  aq-deployment_nesta-7    6    5
2019-05-22 18:15:12  aq-deployment_nesta-7    5    4
2019-05-22 21:30:12  aq-deployment_nesta-7    9    8
2019-05-22 21:45:12  aq-deployment_nesta-7   12   11
2019-05-22 22:00:14  aq-deployment_nesta-7   11   10
2019-05-22 22:15:12  aq-deployment_nesta-7   12   11
2019-05-22 22:30:12  aq-deployment_nesta-7   15   16

In [ ]:
a = [1, 2, 3]

In [ ]:
a.insert(0, 0)

In [ ]:
a

In [ ]:
table_service = TableService(connection_string=CONNECTION_STRING)

In [ ]:
table_service.get_entity('PublicData', partition_key="1558530015398", row_key='aq-deployment_nesta-7')

In [ ]:
results = table_service.query_entities('PublicData',
                                       filter="RowKey eq 'aq-deployment_nesta-7' and PartitionKey gt '1558530015398' and PartitionKey lt '1558560612372'",
                                       select='PartitionKey,RowKey,pm10,pm25',
                                       num_results=10)

In [ ]:
df = pd.DataFrame(results)

In [ ]:
partitionkey_to_datetime(df.PartitionKey)

In [ ]:
datetime_to_partitionkey(datetime(2019, 5, 22, 13, 15, 12))

In [ ]:
dt = partitionkey_to_datetime(df.PartitionKey)[0]

In [ ]:
dt = dt.to_pydatetime()

In [ ]:
dt.timestamp()

In [ ]:
partitionkey_to_datetime(str(dt.timestamp()*1000))

In [ ]:
df.PartitionKey

In [ ]:
dt = partitionkey_to_datetime("1558530912371")

In [ ]:
dt

In [ ]:
timestamp = (dt - datetime(1970, 1, 1)).total_seconds()

In [ ]:
timestamp*1000

In [ ]:
partitionkey_to_datetime("1558527312000")

In [ ]:
df.PartitionKey

In [ ]:
from datetime import datetime

In [ ]:
datetime.utcfromtimestamp(1558530912371 / 1000)

In [ ]:
import pydocumentdb
import pydocumentdb.document_client as document_client

In [ ]:
client = document_client.DocumentClient(url_connection=CONNECTION_STRING, auth={'masterKey': SAS_TOKEN})

In [ ]:
results = client.QueryDocuments('PublicData', query = { 'query': 'SELECT * FROM server s' } )

In [ ]:
list(results)