## Compare data from the Azure Table and the CSV data from Flo
We want to get them into the same format and make sure they are roughly comparable (the actual values will be different as the calculation and averaging methods are slightly different)

In [34]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from get_aq_data import get_all_sensor_data, ID_to_name

### Data from Azure Table

In [3]:
data, hourly_mean, daily_mean = get_all_sensor_data()

In [6]:
hourly_mean.head(5)

,nesta-1,nesta-2,nesta-4,nesta-5,nesta-6,nesta-7,nesta-8
timestamp,,,,,,,
2019-05-22 13:00:00,5.5,NaN,6.0,NaN,6.5,6.0,NaN
2019-05-22 14:00:00,NaN,NaN,4.0,NaN,5.0,6.0,NaN
2019-05-22 15:00:00,4.0,4.0,4.0,NaN,5.0,NaN,NaN
2019-05-22 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data from Flo

In [45]:
flo_data = pd.read_csv('../Data/BS Sensors/20190307 to 20190823_15min averages_StDenys_6sensors.csv', parse_dates=[2], dayfirst=True)
flo_data = flo_data.drop('Unnamed: 0', axis=1)
flo_data = flo_data[['site', 'date', 'pm25_mean']]
flo_data = flo_data.pivot(columns='site', index='date', values='pm25_mean')
flo_data.columns = [col.lower() for col in flo_data.columns]
flo_data.index.name = 'timestamp'
flo_data['nesta-2'] = flo_data['nesta-2'].combine_first(flo_data['nesta-2-1'])
del flo_data['nesta-2-1']

In [47]:
flo_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 16248 entries, 2019-03-07 00:00:00 to 2019-08-23 05:45:00
Data columns (total 7 columns):
nesta-1    11729 non-null float64
nesta-2    12567 non-null float64
nesta-4    16248 non-null float64
nesta-5    13376 non-null float64
nesta-6    12691 non-null float64
nesta-7    12696 non-null float64
nesta-8    2612 non-null float64
dtypes: float64(7)
memory usage: 1015.5 KB

In [49]:
flo_data.head()

,nesta-1,nesta-2,nesta-4,nesta-5,nesta-6,nesta-7,nesta-8
timestamp,,,,,,,
2019-03-07 00:00:00,1.217778,1.245556,1.193333,1.414444,NaN,NaN,NaN
2019-03-07 00:15:00,1.433333,1.495556,1.410000,1.496667,NaN,NaN,NaN
2019-03-07 00:30:00,1.784444,1.661111,1.581111,1.682222,NaN,NaN,NaN
2019-03-07 00:45:00,1.804444,1.753333,1.492222,1.642222,NaN,NaN,NaN
2019-03-07 01:00:00,1.761111,1.816667,1.648889,1.610000,NaN,NaN,NaN

In [50]:
flo_data.index.max()

Timestamp('2019-08-23 05:45:00')